body {
  background-attachment: fixed;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 30px;
  font-size: 20px;
  margin-top: 0px;
}
.navbar-brand {
  margin: 0%;
  padding: 0%;
  display: flex;
}
.navbar img {
  padding: 0;
  height: 70px;
}
.navbar {
  padding-top: 0%;
  background-color: rgba(0, 0, 0);
}

a {
  color: WHITE;
}

@font-face {
  font-family: KRIS KRINGLEimport;
  src: url("KRIS KRINGLE.ttf");
}
@font-face {
  font-family: glimmer of lightimport;
  src: url("glimmer\ of\ light.otf");
}

@font-face {
  font-family: Assyam-Regularimport;
  src: url("Assyam-Regular.ttf");

  font-family: Dakota-Regularimport;
  src: url("Dakota-Regular.ttf");
}
.font-big {
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-weight: 100;
  font-size: 78px;
  top: 70%;
  font-family: KRIS KRINGLEimport;
}

.ig {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: url("../img/test.jpg");

  background-attachment: fixed;
}

.about {
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.about h1 {
  letter-spacing: 2px;
  padding-top: 40px;
  font-size: 50px;

  -webkit-text-stroke: 5px black;
  font-family: KRIS KRINGLEimport;
  color: white;
  margin-left: 75px;
}

.about p {
  color: rgb(244, 252, 247);
  margin-top: 50px;
  font-size: 20px;
  width: 42%;
  text-indent: 2px;
}

.foot {
  background: linear-gradient(to bottom, #1b0468, #0953b4);
}

.category {
  margin-top: 0px;
  padding: 0%;
  margin: 0%;
  font-size: 40px;
  align-content: center;

  color: rgb(230, 224, 224);
  display: flex;
}

.category ol {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
}
.foot h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 60px;
  -webkit-text-stroke: 5px black;
  font-family: fantasy;
  color: white;
}
.s {
  font-size: 45px;
  color: white;
  font-family: Broadway;
}
.contain {
  font-family: cursive;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  position: relative;
  padding: 20px;
  background-image: linear-gradient(rgba(3, 3, 3, 0.65), rgba(3, 3, 3, 0.65)),
    url(../img/bg.jpg);
  background-attachment: fixed;
}

.contain h1 {
  font-size: 50px;
  font-family: KRIS KRINGLEimport;

  margin-top: 50px;
  color: BLACK;
  font-size: 40px;
  -webkit-text-stroke: 2px WHITE;
}
.contain p {
  color: white;
  margin-top: 50px;
  font-size: 20px;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .font-big {
    font-size: 30px;
    margin-left: -25px;
    text-align: center;
  }
  .navlog {
    display: flex;
    width: 50px;
  }

  .about h1 {
    font-size: 20px;
    padding-top: 20px;
  }
  .about p {
    font-size: 15px;
    width: 80%;
  }

  .contain p {
    width: 80%;
    font-size: 15px;
  }
  .contain h1 {
    font-size: 20px;
  }
  .category {
    display: inline;
    margin-top: 10px;
  }
  .category ol {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }

  .foot h1 {
    font-size: 30px;
    -webkit-text-stroke: 2.5px black;
  }
  .s {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
  }
  .qr {
    margin: 20px;
  }
  .img1 {
    width: 270px;
  }
  .img2 {
    width: 55px;
  }
  .navbar-brand img {
    height: 50px;
  }
  .navbar-brand {
    height: 60px;
  }
  .about h1 {
    margin-left: 5px;
  }
}

.button1 {
  border: 1px solid;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  background-color: transparent;
}
.button1:hover {
  background: transparent;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
a:hover {
  color: rgb(96, 106, 124);
}
